.group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.label {
	flex: 1;
	font-size: var(--text-sm);
	color: var(--color-gray-dark);
}
input[type='checkbox'] {
	appearance: none;
	width: 1.4rem;
	height: 1.4rem;
	margin: 0;
	padding: 0;
	display: inline-flex;
}
