.menu {
	> * + * {
		margin-inline-start: var(--gap-md);
	}
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.menuTitle {
	text-transform: uppercase;
	color: var(--color-gray-base);
}
.menuItems {
	> div {
		display: flex;
		gap: var(--gap-sm);
	}
	> div label {
		font-weight: bold;
		order: 1;
	}
	> div input[type='checkbox'] {
		order: 0;
	}
	&:last-child {
		flex: 0 0 33.33%;
		margin-inline-start: auto;
	}

	> * + * {
		margin-block-start: var(--gap-xs);
	}
}
.menuItem {
	font-family: 'Hatton', serif;
	font-size: var(--text-md);
	font-weight: 500;
}

.menuSubmit {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-block-start: var(--gap-sm);
	align-items: flex-end;
	gap: var(--gap-sm);
	&:last-child > button {
		flex: 0 0 33.3%;
		// width: 100%;
	}

	p {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: calc(66.6% - var(--gap-sm));
		font-size: var(--text-md);
		color: mix(#000, #fff, 20%);
		font-family: 'Hatton', serif;
		line-height: 1.5;
	}
}
