.menu-wrapper {
	--width: 95%;
	--basis: 100%;
	--display__form-group: block;
	--align-items__from-group: center;
	--text-align__form-group: center;
	--width__form-group: 100%;
	--gap__form-group: var(--gap-sm);
	--border: 1px solid;
	@include break-at(90ch) {
		--align-items__from-group: flex-start;
		--border: 0px solid;
		--gap__form-group: 0rem;
		--width__form-group: 70%;
		--text-align__form-group: left;
		--display__form-group: flex;
		--width: 80ch;
		--basis: 60%;
	}
	padding: var(--gap-xxl, 8rem) 0 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// flex-wrap: wrap;
	background-color: var(--color-brand-dark);
}

.menu-form {
	color: var(--color-gray-dark);
	width: 100%;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-md);

	&__view {
		order: 2;
		display: flex;
		flex: 1 100%;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding: var(--gap-sm) var(--gap-sm);
		background-color: var(--color-brand-light);
	}
	&__view-content {
		width: 100%;
		max-width: var(--width-max);
		font-size: var(--text-sm);
		line-height: 1.2;

		padding: inherit;
	}
	&__choice {
		align-items: var(--align-items__from-group);
		flex: 0 1 100%;
		max-width: var(--width-max);
		display: flex;
		flex-direction: column;
		gap: var(--gap-md);
	}
	&__choice-header {
		padding-block-start: var(--gap-md);
		text-align: center;
		align-self: center;
	}
	&__form-group {
		display: var(--display__form-group);
		text-align: var(--text-align__form-group);
		width: 100%;
		// flex-wrap: wrap;
		font-size: var(--text-md);
		line-height: 1.5;
		color: var(--color-gray-base);
		align-items: flex-end;
		justify-content: space-between;
		padding: var(--gap-sm) var(--gap-sm);
		& > * + * {
			margin-block-start: var(--gap__form-group);
		}
		&:hover {
			background-color: var(--color-brand-light);
		}
	}
	&__form-label {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex: 0 90%;
		position: relative;
		&:after {
			content: '';
			height: 1px;
			flex: 1;
			border-bottom: 1px solid;
		}
		& > label {
			// border-block-end: 1px solid;
			cursor: pointer;
			flex: 0 var(--width__form-group);
		}
	}
	&__form-input {
		flex: 0 70px;
		display: var(--display__form-group);
		padding-inline-start: var(--gap-xs);
		border-block-end: var(--border);
		& > input[type='radio'] {
			padding: 0;
			margin: 0;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
