.section {
	padding-block: var(--padding-block, var(--gap-lg));
	--width-content: 95%;
	--align: center;
	--align-even: center;
	--align-odd: center;
	@include break-at(60ch) {
		--width-content: 75%;
		--align-even: flex-start;
		--align-odd: flex-end;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-gray-dark);
	&:nth-child(even) {
		background-color: var(--color-brand-dark);
		.section__item .section__content {
			align-items: var(--align-even);
		}
		.section__item {
			background-color: var(--color-brand-dark);
		}
	}
	&__item {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		width: 100%;
		background-color: inherit;
		& + * {
			background-color: inherit;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: var(--align-odd);
		width: var(--width-content);
		// margin: 0 auto;
	}
	&__title {
		font-size: var(--text-xl);
		text-transform: uppercase;
		letter-spacing: 0.3rem;
	}
	&__header {
		width: var(--width-content);
	}
	&__body {
		width: var(--width-content);
	}
}
