@import './colors.module';
$color-brand: $green !default;
$color-gray-dark: #2c2c2c !default;
$color-gray-light: #dadada !default;
$color-primary: #2f80ed !default;
$color-black: #1c1c1c !default;
$color-white: #eff !default;
$color-brand-light: mix($color-brand, $color-white, 40%) !default;
$color-focus: mix($color-primary, $color-black, 20%) !default;
$color-hover: mix($color-primary, $color-black, 80%) !default;

$colors: (
	brand-dark: $color-brand,
	gray-dark: $color-gray-dark,
	brand-light: $color-gray-light,
	primary: $color-primary,
	dark: $color-black,
	light: $color-white,
	focus: $color-focus,
	hover: $color-hover,
);

@function color($key) {
	@return map-get($colors, $key);
}

$gaps: (
	xs: 0.4,
	s: 0.6,
	md: 1,
	lg: 1.8,
	xl: 2.6,
);
