@import 'mixins';
@import 'theme';
@import 'typography';
@import 'modal';
@import 'container';
@import 'section';
@import 'cover';
@import 'rsvp';
@import 'form';

html {
	@each $key, $size in $sizes {
		--text-#{$key}: #{$size}rem;
	}
	@each $key, $gap in $gaps {
		--gap-#{$key}: #{$gap}rem;
	}
	@each $key, $color in $colors {
		--color-#{$key}: #{$color};
	}
	@media (min-width: 60ch) {
		@each $key, $size in $sizes {
			--text-#{$key}: #{$size * 1.8}rem;
		}
		@each $key, $gap in $gaps {
			--gap-#{$key}: #{$gap * 1.8}rem;
		}
	}
}
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

html,
body {
	color: var(--color-light, #fff);
	font-family: 'Poppins', sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
